@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

:root {
  --color-black-1: #282828;
  --color-black-2: #1f1f1f;
  --color-black-3: #171717;
  --color-gray-1: #767676;
  --color-gray-2: #363636;
  --color-gray-3: #282828;
  --color-red: #d16767;
  --font-primary: 'Urbanist', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

body {
  box-sizing: border-box;
  background-color: #ececec;
  font-family: var(--font-primary);
  background-color: var(--color-black-2);
  height: 100vh;
}

a {
  text-decoration: none;
}

a, p, h1, h2, h3, h4, h5, h6 {
  color: white;
}

h1 {
  font-size: 20px;
}

textarea { 
  resize: none;
}

/* Setting class to use */
.is--red {
  color: var(--color-red);
}

.is--done {
  text-decoration: line-through wavy var(--color-red);
  font-style: italic;
  color: var(--color-gray-1);
}

.is--active {
  border-radius: 10px;
  background-color: var(--color-red);
}

/* Principal content */
main {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

@media (max-width: 767px) {
  main {
    padding: 1.5rem;
  }
}

/* Buttons */
.btn {
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-red);
}

.btn--cancel {
  background-color: transparent;
  border: 1px solid var(--color-gray-1);
}

.btn--cancel:hover {
  background-color: var(--color-gray-1);
}