* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
}

#view_content {
  border: 1px solid black;
  width: 500px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#items {
  background-color: red;
}

#items .task_list_item {
  display: flex;
  justify-content: space-between;
}

#items .task_list_item .task_list_item__checkbox {
  display: flex;
}

#items .task_list_item .task_list_item__checkbox--body {
  display: flex;
  flex-direction: column;
}