@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

:root {
  --color-black-1: #282828;
  --color-black-2: #1f1f1f;
  --color-black-3: #171717;
  --color-gray-1: #767676;
  --color-gray-2: #363636;
  --color-gray-3: #282828;
  --color-red: #d16767;
  --font-primary: 'Urbanist', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  box-sizing: border-box;
  background-color: #ececec;
  font-family: var(--font-primary);
  background-color: var(--color-black-2);
  height: 100vh;
}

span {
  color: var(--color-red);
}

a {
  text-decoration: none;
}

a, p, h1, h2, h3, h4, h5, h6 {
  color: white;
}

h1 {
  font-size: 20px;
}

.red {
  color: var(--color-red);
}

.view__header__title {
  color: var(--color-gray-1);
  font-size: 1.1rem;
}

.done {
  text-decoration: line-through;
  font-style: italic;
}

.active {
  opacity: 1!important;
}

.task-done {
  display: block;
}

.task-undone {
  display: block;
}

#date {
  color: var(--color-gray-1);
  font-size: 12px;
}

main {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

@media (max-width: 767px) {
  main {
    padding: 1.5rem;
  }
}

/* Tasks */
#items {
  width: 100%;
}

#items .items__list {
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
  margin: 1rem 0;
  border-bottom: 1px solid var(--color-gray-2);
}

.items__list--hide {
  display: none!important
}

#items .items__list .items__list__checkbox {
  display: flex;
  gap: 10px;
}

#items .items__list .items__list__checkbox__body {
  display: flex;
  flex-direction: column;
}

#items .items__list .items__list__checkbox__body .items__list__checkbox__description {
  margin-top: .5rem;
  color: var(--color-gray-1);
}

#items .items__list .items__list__delete {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
}

#items .items__list .items__list__delete .items__list__delete--delete {
  color: var(--color-red);
  opacity: 0;
}

#items .items__list:hover .items__list__delete .items__list__delete--delete {
  opacity: 1;
}

/* Forms & Inputs */
#manager_content {
  display: none;
  border: 1px solid var(--color-gray-1);
  border-radius: 4px;
  padding: .5rem;
  background-color: var(--color-black-3);
}

.editor {
  padding: 1rem 0;
}

.editor .editor__manager_content--open {
  color: var(--gray);
  font-size: 14px;
  display: flex;
  gap: 10px;
}

.editor .editor__manager_content--open .editor__manager_content__item_2 p:hover {
  color: var(--color-red);
}

.view__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content__task_editor {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 0 1rem 0;
}

.content__task_editor .content__task_editor__input_fields {
  padding: .5rem;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: var(--color-gray-1);
}

.content__task_editor .content__task_editor__input_fields:focus-visible {
  background-color: transparent;
}

textarea { 
  resize: none;
}

/* Dropdown */
.dropdown {
  width: 150px;
  aspect-ratio: auto;
  padding: 1rem;
  background-color: var(--color-gray-3);
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  position: absolute;
  right: -110px;
  top: 33px;
  border-radius: 4px;
  opacity: 0;
}

.dropdown h5 {
  margin-bottom: 10px;
  font-weight: 600;
  letter-spacing: .07rem;
}

.dropdown .dropdown__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Buttons */
.btn {
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-red);
}

.btn--cancel {
  background-color: transparent;
  border: 1px solid var(--color-gray-1);
}

.btn--cancel:hover {
  background-color: var(--color-gray-1);
}