@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

:root {
  --black: #1f1f1f;
  --red: #d16767;
  --gray: #767676;
  --l-black: #282828;
  --l-gray: #363636;
  --d-gray: #282828;
  --d-black: #171717;
  --font: 'Urbanist', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  box-sizing: border-box;
  background-color: #ececec;
  font-family: var(--font);
}

<<<<<<< HEAD
=======
span {
  color: var(--red);
}

>>>>>>> 6c431ac363576c2ebec6abc5f41167e7f8ba345d
a {
  text-decoration: none;
}

a, p, h1, h2, h3, h4, h5, h6 {
  color: white;
}

h1 {
  font-size: 20px;
}

.red {
  color: var(--red);
}

.title-list {
  color: var(--gray);
  font-size: 1.1rem;
}

.done {
  text-decoration: line-through;
  font-style: italic;
}

#date {
  color: var(--color-gray-1);
  font-size: 12px;
}

#view_content .editor {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

#items {
  width: 100%;
}

#items .task_list_item {
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
  margin: 1rem 0;
  border-bottom: 1px solid var(--l-gray);
}

#items .task_list_item .task_list_item__checkbox {
  display: flex;
  gap: 10px;
}

#items .items__list .items__list__checkbox .items__list__checkbox__input {
  accent-color: var(--color-red);
}

#items .items__list .items__list__checkbox__body {
  display: flex;
  flex-direction: column;
}

#items .task_list_item .task_list_item__checkbox--body .task_list_item__input--description {
  margin-top: .5rem;
  color: var(--gray);
}

#items .task_list_item .task_list_item__delete {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
}

#items .task_list_item .task_list_item__delete .delete_task {
  color: var(--red);
  opacity: 0;
}

#items .task_list_item:hover .task_list_item__delete .delete_task {
  opacity: 1;
}

.dropdown {
  width: 150px;
  aspect-ratio: auto;
  padding: 1rem;
  background-color: var(--l-black);
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  position: absolute;
  right: -110px;
  top: 33px;
  border-radius: 4px;
  display: none;
}

.dropdown h5 {
  margin-bottom: 10px;
  font-weight: bold;
}

.dropdown .top__filter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Forms & Inputs */
#manager_content {
  display: none;
  border: 1px solid var(--gray);
  border-radius: 4px;
  padding: .5rem;
  background-color: var(--d-black);
}

.create_task {
  padding: 1rem 0;
}

.create_task .open_manager_content {
  color: var(--gray);
  font-size: 14px;
  display: flex;
  gap: 10px;
}

.create_task .open_manager_content .open_manager_content__item_2 p:hover {
  color: var(--red);
}

.list_holder--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#task_editor {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 0 1rem 0;
}

#task_editor .task_editor__input_fields {
  padding: .5rem;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: var(--gray);
}

#task_editor .task_editor__input_fields:focus-visible {
  background-color: transparent;
}

textarea { 
  resize: none;
}

/* Dropdown */
.filter {
  display: flex;
  gap: 15px;
}

.filter .filter__list {
  padding: 5px 8px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  list-style: none;
}

.filter .filter__list:hover {
  background-color: var(--color-red);
  transition: 200ms ease-in-out;
}

/* Buttons */
.btn {
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--red);
}

.btn--cancel {
  background-color: transparent;
  border: 1px solid var(--gray);
}

.btn--cancel:hover {
  background-color: var(--gray);
}